@font-face {
  font-family: "NotoSerif-Regular";
  src: url("../fonts/NotoSerif-Regular.ttf") format("TrueType");
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100% \9;
  overflow: hidden \9;
  height: calc(100% - 4px);
  color: #f0f0f0;
  background-color: #222228;
  font-size: 13px;
  font-family: "NotoSerif-Regular";
}

a {
  color: #fefefe;
}

.btn {
  color: #f8f8f8;
  border: 1px solid #888;
  background-color: #666;
  font-size: 14px;
}

#btn-settings {
  float: left;
}

.hide {
  display: none;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.nav-bar {
  overflow: hidden;
  float: right;
  display: inline;
  position: relative;
}

.modal {
  left: 50%;
  right: 50%;
  background-color: #222;
}

.container {
  width: 92%;
  padding: 0 4%;
  display: block;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #aaa;
}
.container section {
  text-align: center;
}

#head-container {
  height: 18%;
}

#main-container {
  height: 72%;
}

#footer-container {
  height: 10%;
  clear: both;
}
#footer-container section {
  padding-top: 14px;
  text-align: center;
}

#post-viewer {
  height: 100%;
  overflow: scroll;
}

.ijktpl-tpl {
  display: none;
}

.preview-tpl {
  display: inline;
}

.preview-tpl img {
  width: 80px;
  padding: 10px;
  height: 80px;
}

@media (max-height: 500px) {
  body {
    overflow-y: auto;
  }

  #head-container {
    height: 25%;
  }

  #main-container {
    height: 65%;
  }

  #footer-container section {
    padding-top: 5px;
  }
}

@media (max-height: 320px) {
  body {
    overflow-y: auto;
  }

  #head-container {
    height: 35%;
  }

  #main-container {
    height: 55%;
  } 

  #footer-container section {
    padding-top: 5px;
  }
}

@media (min-height: 768px) {
  #head-container {
    height: 8%;
  }

  #main-container {
    height: 82%;
  }
}
